<div id="footer_copyright" class="footer_copyright tt-color-scheme-04 {% if template == 'cart' %}hide-footer-cart{% endif %}">
  <div class="container{% if item.fullwidth %}-fluid-custom-mobile-padding container-fluid-custom{% endif %}">
    <div class="tt-row">
      {% if item.footer_col %}
      <div class="col-sm-6 copygrid6">
          {%- if item.show_logoblock -%}
          <div class="tt-col-item tt-logo-col">
            <a href="/" class="tt-logo tt-logo-alignment">
              {%- if footerlogo contains "title_" -%}<h2 class="tt-title">{{ footerlogo | split:"title_" | last }}</h2>
              {%- else -%}<img src="{{ footerlogo }}" srcset="{{ footerlogo }} 1x, {{ footerlogoretina }} 2x" alt="{{ footerlogoalt }}" class="tt-retina">
              {%- endif -%}
            </a>
          </div>
          {%- endif -%}
          {%- if item.footer_address != "" -%}
          <div class="tt-col-item">
            <div class="tt-box-copyright">{{ item.footer_address }}</div>
          </div>
          {%- endif -%}
      </div>
      {% else %}
      <div class="tt-col-left">
        {%- if item.show_logoblock -%}
        <div class="tt-col-item tt-logo-col">
          <a href="/" class="tt-logo tt-logo-alignment">
            {%- if footerlogo contains "title_" -%}<h2 class="tt-title">{{ footerlogo | split:"title_" | last }}</h2>
            {%- else -%}<img src="{{ footerlogo }}" srcset="{{ footerlogo }} 1x, {{ footerlogoretina }} 2x" alt="{{ footerlogoalt }}" class="tt-retina">
            {%- endif -%}
          </a>
        </div>
        {%- endif -%}
        {%- if item.footer_address != "" -%}
        <div class="tt-col-item">
          <div class="tt-box-copyright">{{ item.footer_address }}</div>
        </div>
        {%- endif -%}
      </div>
      {% endif %}
    </div>
  </div>
</div>

<style>
  .footer_copyright {
    margin-top: 32px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000 !important;
    color: #fff !important;
  }
  .footer_copyright .tt-box-copyright {
    font-size: 12px;
    text-align: center;
    color: #fff !important;
  }
  @media (max-width: 575px) {
    .footer_copyright .tt-box-copyright {
      font-size: 10px;
    }
    .hide-footer-cart {
      display: none;
    }
  }
</style>
