{%- if footer_additional != '' and footer_additional.settings.show_content -%}
{% unless item.footer_col %}
  <div class="tt-col-right">
{% endunless %}
  <div class="footer_social_list tt-col-item">
    <h3 class="footer-additional-title">{{ footer_additional.settings.additional_social_title }}</h3>
    <div class="tt-mobile-collapse">
      <ul class="tt-social-list">
        {%- if footer_additional.settings.instagram_url -%}
          <li class="social-item">
            <a target="_blank" href="{{ footer_additional.settings.instagram_url }}">
              <img class="social-icon" src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/vofooter-ig.png?v=1682667163" alt="">
            </a>
          </li>
        {%- endif -%}
        {%- if footer_additional.settings.tiktok_url -%}
          <li class="social-item">
            <a target="_blank" href="{{ footer_additional.settings.tiktok_url }}">
              <img class="social-icon" src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/vofooter-tk.png?v=1682667163" alt="">
            </a>
          </li>
        {%- endif -%}
        {%- if footer_additional.settings.facebook_url -%}
          <li class="social-item">
            <a target="_blank" href="{{ footer_additional.settings.facebook_url }}">
              <img class="social-icon" src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/vofooter-fb.png?v=1682667163" alt="">
            </a>
          </li>
        {%- endif -%}
        {%- if footer_additional.settings.youtube_url -%}
          <li class="social-item">
            <a target="_blank" href="{{ footer_additional.settings.youtube_url }}">
              <img class="social-icon" src="https://cdn.shopify.com/s/files/1/0516/0760/1336/files/vofooter-yt.png?v=1682667163" alt="">
            </a>
          </li>
        {%- endif -%}
      </ul>
  </div>
{% unless item.footer_col %}</div>{% endunless %}
<style>
  .social-icon {
    width: 22px;
    height: 22px;
  }
  .footer_social_list {
    margin-bottom: 16px;
    margin-left: 16px;
  }
  .tt-social-list {
    display: flex;
    gap: 14px;
    list-style: none;
    padding: 0;
  }
  @media (max-width: 575px) {
    .footer-additional-title {
      text-align: center;
    }
    .tt-social-list {
      gap: 4px !important;
      flex-wrap: wrap;
      justify-content: center;
    }
    .tt-social-list li.social-item {
      margin: 8px;
    }
    .social-icon {
      width: 32px;
      height: 32px;
    }
  }
</style>
{%- endif -%}
