{%- if infobar != '' and infobar.settings.show_content -%}
{%- assign show_content = true -%}
{%- if infobar.settings.show_content_index -%}{%- unless template contains 'index' -%}
{%- assign show_content = false -%}
{%- endunless -%}{%- endif -%}
{%- if show_content == true -%}
<!-- tt-top-panel -->
<div class="tt-top-panel"{% if infobar.settings.background_image %} style="background: url({{ infobar.settings.image | img_url: 'x150' }}) {{ settings.color_inf_bar_bg }} no-repeat center;"{% endif %}>
  <div class="container">
    <div class="tt-row navbar-custom-optional">
      <div class="tt-description news" style="font-size:{{ infobar.settings.fontsize }}px;line-height:{{ infobar.settings.fontsize | plus: 7 }}px;font-weight:{{ infobar.settings.fontweight }};">
        {{ infobar.settings.text }}
      </div>
      {% if infobar.settings.show_button_close %}
      <button class="tt-btn-close" style="top:{{ infobar.settings.btnpos }}px;"></button>
      {% endif %}
    </div>
  </div>
</div>

<style>
  @keyframes slide {
    from { left: 0%;}
    to { left: -75% ;}
  }
  .tt-top-panel .navbar-custom-optional {
    height: 40px;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    display: flex;
    align-items: center;
  }
  .navbar-custom-optional .news {
    left: 0;
    position: absolute;
    white-space: nowrap;
    animation: slide 20s linear infinite;
  }
  .navbar-custom-optional .news a {
    color: #fff !important;
    border-bottom: none !important;
  }
</style>
{%- endif -%}
{%- endif -%}
