<nav class="panel-menu mobile-main-menu" id="main-menu-mobile">
  <ul>
    {%- if item.show_categorie_button and settings.use_header_inline -%}<div class="CATEGORIE MOBILE"></div>{%- endif -%}
    
    {%- for link in linklists[mm].links -%}

    {%- if str_blocks_title contains checkval -%}
      {%- assign i = str_blocks_title | split: checkval | last | split: '|' | first | plus: 0 -%}
      {%- assign section_block = section.blocks[i] -%}
      {%- assign section_block = section_block.settings -%}
    {%- endif -%}
  
    {%- assign _title = link.title | append: '_' -%}
    {%- assign checkval = '|' | append: _title -%}
    {%- if str_blocks_title_drag contains checkval -%}
      {%- assign i = str_blocks_title_drag | split: checkval | last | split: '|' | first | plus: 0 -%}
      {%- assign section_block = section.blocks[i] -%}
      {%- assign section_block = section_block.settings -%}
    {%- endif -%}
      
    {%- assign widget = section_block.widget -%}
    {%- assign widgetbanner_url = section_block.widgetbanner_url -%}
    {%- assign widgetbanner_title = section_block.widgetbanner_title -%}
    {%- assign widgetbanner_title2 = section_block.widgetbanner_title2 -%}
    {%- assign widgetbanner_img = section_block.widgetbanner_img -%}
    {%- assign widgetbanner_imgalt = section_block.widgetbanner_img.alt -%}
    {%- assign widgetbanner_btn = section_block.widgetbanner_btn -%}
    {%- assign widgetbanner_btnname = section_block.widgetbanner_btnname -%}
    {%- assign widgetbanner_color = section_block.widgetbanner_color -%}
    {%- assign widgetbanner_color2 = section_block.widgetbanner_color2 -%}
    {%- assign widgetbanner_color4 = section_block.widgetbanner_color4 -%}

    <li>
      <a href="{{ link.url }}">{{ link.title }}</a>

      {%- capture return -%}{%- include "get_linklist_dropdown", customlink: link -%}{%- endcapture -%}{%- assign return = return | split: "%%" -%}{%- assign has_drop_down = return | first | strip -%}{%- assign child_list_handle = return | last | strip -%}

      {%- assign level_2 = linklists[child_list_handle] -%}
      {%- if level_2.empty? -%}
      {%- assign child_list_handle = link.title | handle -%}
      {%- assign level_2 = linklists[child_list_handle] -%}
      {%- endif -%}

      {%- if level_2.links != blank -%}
      <ul>
        {%- for child_level_2 in level_2.links -%}
        <li>
          <a href="{{ child_level_2.url }}">{{ child_level_2.title }}</a>

          {%- capture return -%}{%- include "get_linklist_dropdown", link: child_level_2 -%}{%- endcapture -%}{%- assign return = return | split: "%%" -%}{%- assign has_drop_down = return | first | strip -%}{%- assign child_list_handle = return | last | strip -%}

          {%- assign level_3 = linklists[child_list_handle] -%}
          {%- if level_3.empty? -%}
          {%- assign child_list_handle = child_level_2.title | handle -%}
          {%- assign level_3 = linklists[child_list_handle] -%}
          {%- endif -%}

          {%- if level_3.links != blank -%}
          <ul>
            {%- for child_level_3 in level_3.links -%}
            <li><a href="{{ child_level_3.url }}">{{ child_level_3.title }}</a>

              {%- capture return -%}{%- include "get_linklist_dropdown", link: child_level_3 -%}{%- endcapture -%}{%- assign return = return | split: "%%" -%}{%- assign has_drop_down = return | first | strip -%}{%- assign child_list_handle = return | last | strip -%}

              {%- assign level_4 = linklists[child_list_handle] -%}
              {%- if level_4.empty? -%}
              {%- assign child_list_handle = child_level_3.title | handle -%}
              {%- assign level_4 = linklists[child_list_handle] -%}
              {%- endif -%}

              {%- if level_4.links != blank -%}
              <ul>
                {%- for child_level_4 in level_4.links -%}
                <li><a href="{{ child_level_4.url | downcase }}">{{ child_level_4.title }}</a>

                  {%- capture return -%}{%- include "get_linklist_dropdown", link: child_level_4 -%}{%- endcapture -%}{%- assign return = return | split: "%%" -%}{%- assign has_drop_down = return | first | strip -%}{%- assign child_list_handle = return | last | strip -%}

                  {%- if has_drop_down == "true" -%}
                  {%- assign level_5 = linklists[child_list_handle] -%}
                  {%- unless level_5.empty? -%}
                  <ul>
                    {%- for child_level_5 in level_5.links -%}
                    <li><a href="{{ child_level_5.url | downcase }}">{{ child_level_5.title }}</a></li>
                    {%- endfor -%}
                  </ul>
                  {%- endunless -%}
                  {%- endif -%}
                </li>
                {%- endfor -%}
              </ul>
              {%- endif -%}
            </li>
            {%- endfor -%}
          </ul>
         {%- endif -%}
        </li>
        {%- endfor -%}
        {%- case widget -%}
        {%- when 'banner' -%}
          <li>
            <a href="#" style="color:{{ widgetbanner_color }}">{{ widgetbanner_title }}</a>
            <a class="row" href="{{ widgetbanner_url }}">
              {%- if widgetbanner_img == blank -%}{%- include "get_svg" type:'image' size:'100x100px' -%}
              {%- else -%}
                <div class="col-md-12">
                  <img class="lazyload"
                      data-src="{{ widgetbanner_img | img_url: '510x' }}"
                      alt="{{ widgetbanner_imgalt }}"
                      style="display: block; width: 100%"/>
                </div>
              {%- endif -%}
              <div class="col-md-12 mt-1" style="color:{{ widgetbanner_color2 }}">{{ widgetbanner_title2 }}</div>
            </a>
            {%- if widgetbanner_btn -%}
            <a href="{{ widgetbanner_url }}" class="tt-promo-02 pt-0">
              <span class="btn-underline tt-obj-bottom" style="color:{{ widgetbanner_color4 }}; border-color:{{ widgetbanner_color4 }};">{{ widgetbanner_btnname }}</span>
            </a>
            {%- endif -%}
          </li>
        {%- endcase -%}
      </ul>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
</nav>
