{%- if item.show_customer_links -%}
<!-- tt-account -->
<div class="tt-desctop-parent-account tt-parent-box js-on-hover tt-parent-box-padding cls {%- if shop.customer_accounts_enabled and customer -%}cls js-tt-account{%- endif -%}" 
  {%- if shop.customer_accounts_enabled and customer -%}
    data-link="/account"
  {%- else -%}
    data-link="/account/login"
  {%- endif -%}
>
  <div class="tt-account tt-dropdown-obj">
    <button class="tt-dropdown-toggle">
      <i class="icon-f-94"></i>
      {%- if shop.customer_accounts_enabled and customer -%}
        <i class="tt-account-name">{{ customer.first_name }}</i>
        <i class="icon-e-13 tt-caret-dropdown"></i>
      {%- endif -%}
    </button>
    <div class="tt-dropdown-menu"> 
      <div class="tt-mobile-add">
        <button class="tt-close">{{ "layout.customer.close" | t }}</button>
      </div>
      <div class="tt-dropdown-inner">
        
        <ul>
          {%- if shop.customer_accounts_enabled and customer -%}
            <li class="tt-account-desktop"><a href="/account">{% include "svg-icon-account" %}{{ "layout.customer.account" | t }}</a></li>
            <li class="tt-account-mobile">
              <a href="/account" class="d-flex">
                <span style="flex:none;">{% include "svg-icon-account" %}</span style="flex:none;"><span class="tt-account-name-m">{{ customer.name }}</span>
              </a>
            </li>
          {%- endif -%} 

          {%- if shop.customer_accounts_enabled -%}
            {%- if customer -%}{%- else -%}
              <li><a href="/account/login">{% include "svg-icon-login" %}{{ "layout.customer.sign_in" | t }}</a></li> 
            {%- endif -%}
          {%- endif -%}
        
          {% if settings.show_wishlist %}<li><a href="/pages/wishlist">{% include "svg-icon-heart" %}{{ "wishlist.header.wishlist" | t }}</a></li>{% endif %}
          {% if settings.show_compare %}<li><a href="/pages/compare">{% include "svg-compare" %}{{ "compare.header.compare" | t }}</a></li>{% endif %}

          {%- if shop.customer_accounts_enabled -%}
            {%- if customer -%}
              <li><a href="/account/logout">{% include "svg-icon-logout" %}{{ "layout.customer.log_out" | t }}</a></li>
            {%- endif -%}
          {%- endif -%}
        </ul>

      </div>
    </div>
  </div>
</div>
<!-- /tt-account -->
{%- endif -%}