

<div class="tt-item">
  <a href="{{item.url}}" title="{{ 'cart.header.view_product' | t }}">
    <div class="tt-item-img">
      <img src="{{ item.image | product_img_url: 'small' }}" alt="{{ item.image.alt }}">
    </div>
    <div class="tt-item-descriptions">
      <div class="d-flex justify-content-between">
        <h2 class="tt-title">{{item.product.title}}</h2>
        <div class="tt-item-close">
          <a href="/cart/change?id={{ item.variant.id }}&quantity=0" class="tt-btn-close svg-icon-delete header_delete_cartitem_js" title="{{ 'cart.header.button_delete' | t }}">
            {% include "svg-delete-icon" %}
          </a>
        </div>
      </div>
      {%- if item.variant.title != 'Default Title' -%}
      <ul class="tt-add-info">
        <li class="details">{{ item.variant.title | replace: ' / ', ', ' }}</li>
      </ul>
      {%- endif -%}
      <div class="d-flex justify-content-between">
        <div class="tt-price">{{wcp_v_price | money}}</div>
        <div class="tt-quantity">x {{ item.quantity }}</div> 
      </div>
    </div>
  </a>
</div>
