{%- unless settings.catalogue_mode -%}
{%- if template != "cart" -%}

<!-- tt-cart -->
<div class="tt-desctop-parent-cart tt-parent-box js-on-hover js-tt-cart tt-parent-box-padding" data-link="/cart">
  <div class="tt-cart tt-dropdown-obj">
    <button class="tt-dropdown-toggle{% if settings.use_svg_cart_header %} header-icon-with-text{% endif %}">
      {% if settings.use_svg_cart_header %}
      <span class="tt-icon">
        {{ settings.svg_cart_header }}
      </span>
      {% else %}
      <i class="icon-f-39"></i>
      {% endif %}

      {% if item.ca_text != '' %}<span class="tt-text">
      {{ item.ca_text }}
      </span>{% endif %}
      <span class="tt-badge-cart{% if cart.item_count == 0 %} hide{% endif %}">{{ cart.item_count }}</span>
    </button>

    <div class="tt-dropdown-menu" style="width: 450px">
      <div class="tt-mobile-add">
        <h6 class="tt-title">{{ 'cart.header.title' | t }}</h6>
        <button class="tt-close">{{ 'cart.header.close' | t }}</button>
      </div>
      <div class="tt-dropdown-inner">
        <div class="tt-cart-layout">
          <div class="tt-cart-content">
            
            <div class="tt-cart-box{% if cart.item_count == 0 %} hide{% endif %}">
              <div class="tt-cart-list">
                {% assign wcp_total_price = 0 %} 
                {%- for item in cart.items -%}
                  {%- include 'wcp_discount' with item.product -%}
                  {%- include 'wcp_variant' with item.variant -%}
                  {% include 'wcp_vd_discount' with item %}
                  {% assign  wcp_custom_final_Price = item.final_price  %}

                  {% if wcp_v_price < wcp_custom_final_Price %}
                    {% assign wcp_line_price = wcp_v_price | floor | minus: 0 | times: item.quantity %}
                  {% else %}
                    {% assign wcp_v_price = wcp_custom_final_Price | floor | minus: 0 %}
                    {% assign wcp_line_price = wcp_custom_final_Price | floor | minus: 0 | times: item.quantity %}
                  {% endif %}
                  {% assign wcp_total_price = wcp_total_price | plus: wcp_line_price %}

                  {%- include "menu-cart-item" length: forloop.index, wcp_v_price : wcp_v_price, wcp_price : wcp_price, wcp_price_min : wcp_price_min, wcp_price_max : wcp_price_max, wcp_v_compare_at_price : wcp_v_compare_at_price, wcp_compare_at_price : wcp_compare_at_price, wcp_compare_at_price_min : wcp_compare_at_price_min, wcp_compare_at_price_max : wcp_compare_at_price_max, wcp_vd_HTML_table : wcp_vd_HTML_table,p_discount_tag :p_discount_tag ,v_discount_tag : v_discount_tag -%}
                {%- endfor -%}
              </div>

              <div class="flex-align-center header-cart-more-message-js"{% if cart.items.size <= 33333 %} style="display: none;"{% endif %}>
                <span class="btn-link-02" onclick="window.location.href='/cart'" style="cursor: pointer;">{{ 'cart.header.view_cart_all' | t }}</span>
                </div>

               <div class="tt-cart-footer">
                  <div class="tt-cart-total-row">
                  <div class="tt-cart-total-title">{{ 'cart.header.total' | t }}</div>
                  <div class="tt-cart-total-price"><span class=""><span>{{ wcp_total_price | money}}</span>
                    </span></div>
                </div>
                {% if settings.terms_cond_checkbox_show %}
                <div class="checkbox-group m-term-conditions-checkbox term-conditions-checkbox-js">
                  <input type="checkbox" id="cart-term-conditions-checkbox" value="1">
                  <label for="cart-term-conditions-checkbox">
                    <span class="check"></span>
                    <span class="box"></span>
                    {{ settings.terms_cond_checkbox_text }}
                  </label>
                </div>
                {% endif %}
                <div class="tt-cart-btn">
                  <div class="tt-item">
                    <span class="btn" onclick="window.location.href='/cart'" style="cursor: pointer;text-transform: uppercase;">{{ 'cart.header.view_cart' | t }}</span>
                  </div>
                </div>
             </div>

            </div>

          </div>
        </div>
      </div>
      {%- include "menu-cart-item-empty" -%}
    </div>
  </div>
</div>
<!-- /tt-cart -->

{%- endif -%}
{%- endunless -%}