{% if slider_id %}
    <div class="neno-ccs" data-id="{{ slider_id }}" data-uid="{{ slider_uid }}"></div> 
<script>
    if (!window.__neno_CCS) {
        window.__neno_CCS = { data: {}, readyIds: [], clientUids: {} };
    }

    if (!__neno_CCS.clientUids['{{ slider_id }}']) {
        __neno_CCS.clientUids['{{ slider_id }}'] = new Set();
    }
    
    if (!__neno_CCS.data['{{ slider_id }}']) {
        __neno_CCS.data['{{ slider_id }}'] = {};
    }
    
    if (!__neno_CCS.data['{{ slider_id }}'].clientData) {
        __neno_CCS.data['{{ slider_id }}'].clientData = {};
    }
    
    __neno_CCS.data['{{ slider_id }}'].clientData['{{ slider_uid }}'] = {
        collectionsById: {
            {% for collection in collections %}
            "{{ collection.id }}": {
                {% if collection.image %}
                imageUrl: "{{ collection.image | img_url: '2048x' }}",
                imageAltTitle: {{ collection.image.alt|json }},
                {% endif %}
                title: {{ collection.title|json }},
                description: {{ collection.description|strip_html|strip_newlines|json }},
                descriptionHtml: {{ collection.description|strip_newlines|json }},
                url: "{{ collection.url }}",
            },
            {% endfor %}
        },
    };
    
    __neno_CCS.clientUids['{{ slider_id }}'].add('{{ slider_uid }}');
</script>
<script src="{{ '/apps/neno-slider-collection/storefront/data-bundle/collection-card-slider/' | append: slider_id | append: '/data.js' }}" async></script>
    <script src="https://s.slider-collection.napp2.neno-digital.io/static/assets/js/collection-card-slider.js" defer></script>
{% endif %}