<div class="container-indent">
  <div class="container">
    <h1 class="tt-title-subpages noborder"></h1>
    <div class="tt-login-form">
      <div class="row justify-content-center">
        <div class="col bordered">
          <div class="tt-item">
              <h2 class="tt-title d-none d-md-block mb-2">{{ 'customer.reset_password.title_main' | t }}</h2>
            <div class="form-default">
              {% form 'reset_customer_password' %}

                <div class="tt-base-color">
                {{ form.errors | default_errors }}
                </div>
              
                <div class="form-group input-password-wrapper">
                  <input type="password" value="" name="customer[password]" class="form-control" id="loginInputEmail" placeholder=" ">
                  <label for="loginInputEmail">{{ 'customer.reset_password.password' | t }}</label>
                    <div class="password-eye">
                        <img src="{{ 'eye-close.svg' | asset_url }}" alt="" class="icon-eye">
                    </div>
                </div>
                <div class="form-group input-password-wrapper">
                  <input type="password" value="" name="customer[password_confirmation]" class="form-control" id="loginInputPassword" placeholder=" ">
                  <label for="loginInputPassword">{{ 'customer.reset_password.password_confirm' | t }}</label>
                    <div class="password-eye">
                        <img src="{{ 'eye-close.svg' | asset_url }}" alt="" class="icon-eye">
                    </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col">
                    <div class="form-group">
                      <button class="btn btn-primary-green btn-lg btn-block btn-submit" type="submit">{{ 'customer.reset_password.submit' | t }}</button>
                    </div>
                  </div>
                </div>
              {% endform %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#sticky-header-title').text('{{ 'customer.reset_password.title_main' | t }}');
        $('.password-eye').click(function () {
            const eyeOff = '{{ 'eye-close.svg' | asset_url }}';
            const eyeOn = '{{ 'eye-open.svg' | asset_url }}';
            const inputPassword = $(this).closest('.form-group').find('.form-control');
            const iconEye = $(this).closest('.form-group').find('.icon-eye')
            if (inputPassword.attr('type') === "password") {
                inputPassword.attr('type', 'text');
                iconEye.attr('src', eyeOn);
            } else {
                inputPassword.attr('type', 'password');
                iconEye.attr('src', eyeOff);
            }
        })
    });
</script>